@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color:  rgb(25, 127, 131);
    --primary-color-darker: rgb(9, 55, 56);

}

* {
    box-sizing: border-box;
    outline: 0;
}

body{   
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.tabela{
    display: inline-block;
    padding: 50px;
    
}

p{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 20px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 2px solid var(--primary-color);
}

form button{
    border: none;
    background: var(--primary-color); 
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 55px;
    cursor: pointer;
    margin-top: 40px;
}
 form button:hover{
     background: var(--primary-color-darker);
 }
form button:active{
    background: rgb(87, 30, 145);
}

.paragrafo-resultado, .bad{
    background: rgb(52, 252, 252);
    padding: 15px 20px;
}

.bad{
    background: rgb(255, 172, 172);
}


